{% extends "judgementapp/base.html" %}

{% block content %}

    <p>Relevation was created by <a href="http://koopman.id.au">Bevan Koopman</a>, the system is designed to enable catpure relevance judgement for Information Retrieval system evaluation.</p>

    <link rel="stylesheet" type="text/css" href="http://github.com/AdamDotCom/project-badge/raw/master/project-badge.css" />
<script type="text/javascript" src="http://github.com/AdamDotCom/project-badge/raw/master/projectBadge.js"></script>

<p>
	<a href="https://github.com/bevankoopman/relevation"><img src="http://www.lynn.io/demos/github_badge/images/ghb_logo.png"></a>
</p>

{% endblock %}
