{% extends "judgementapp/base.html" %}

{% block content %}

    <p>Relevation was created by <a href="http://koopman.id.au">Bevan Koopman</a> and Guido Zuccon, the system is designed to enable catpure relevance judgement for Information Retrieval system evaluation.</p>

    <p>It was updated by <a href="http://www.cs.cmu.edu/~yingkaig/">Kyle Gao</a> to support relevance judgement collection in Language Technologies Institute, Carnegie Mellon University.</p>

    <p>Find more on the <a href="http://github.com/popol1991/relevation">Github Relevation!</a> page.

{% endblock %}
