{% extends "judgementapp/base.html" %}

{% block content %}

    
    


	   <div class="well">

        <h2><span {% if query.length > 200 %} class="long" {% endif %}>{{ query.qId }} - {{ query.text }}</span> <a style="text-align: right;", href="{% url 'judgementapp.views.query' qId=query.qId %}" class="btn">Back to Query</a></h2>
        
        
    </div>

    <div class="row">
      
      <div class="span3">
      {% if prev %}
        <a href="{% url 'judgementapp.views.document' qId=query.qId docId=prev.document.docId %}" class="btn">Prev Document</a>
      {% endif %}
      </div>

      <div class="span6"><h3 style="text-align: center;">Document "{{ document.docId }}" ({{ rank }} / {{total_rank}}) </h3></div>

      <div class="span3" align="right">
      {% if next %}
        <a href="{% url 'judgementapp.views.document' qId=query.qId docId=next.document.docId %}" class="btn">Next Document</a>
      {% endif %}
      </div>

    </div>


	<div class="row">
        
        <div class="span9", style="height:750px; position:relative; overflow-y: scroll;" id='content'>
          <pre>{{ content }}</pre>
        </div>
      
        
        <script type="text/javascript">
          // $('div#content').mouseup(function() {
          //     document.getElementById("comment").value = getSelectedText();
          // });

          function getSelectedText() {
              if (window.getSelection) {
                  return window.getSelection().toString();
              } else if (document.selection) {
                  return document.selection.createRange().text;
              }
              return '';
          }

          function captureSelection() {
            textarea = document.getElementById('comment');
            if (textarea.value=='Comments') {
              textarea.value = '';
            }
            if (textarea.value.length > 0) {
              textarea.value = textarea.value + '\n';
            }
            textarea.value = textarea.value + '"' + getSelectedText() + '"';
          }

          // Keyboard shortcuts for faster judging.
          document.addEventListener("DOMContentLoaded", function() {
              let btn = {% if next %} document.getElementById("btn-next") {% else %} document.getElementById("btn-save") {% endif %}
              let els = document.querySelectorAll("#relevance-labels > label > input");
              document.onkeypress = function (e) {
                  e = e || window.event;
                  value = e.keyCode - 49
                  if (value >= 0 && value < els.length) {
                      els[value].checked = 1
                      btn.click();
                  }
              };
          });



    </script>

        <div class="span3">
            <form class="form-inline" action="{% url 'judgementapp.views.judge' qId=query.qId docId=document.docId %}" method="post">
                {% csrf_token %}

                {% if query.criteria %}
                  <legend>Query Description</legend>
                  Criteria: {{ query.criteria }}
                {% endif %}

                <legend>Judgement</legend>
                <div class="control-group" id="relevance-labels">
                    <label class="radio">
                      <input type="radio" name="relevance" id="relevance1" value="-1" {% if judgement.relevance == -1 %} checked {% endif %}>
                      Unjudged
                    </label><br>
                    <label class="radio">
                     <input type="radio" name="relevance" id="relevance2" value="2" {% if judgement.relevance == 2 %} checked {% endif %}>
                      Highly relevant
                    </label><br>
                    <label class="radio">
                      <input type="radio" name="relevance" id="relevance1" value="1" {% if judgement.relevance == 1 %} checked {% endif %}>
                      Somewhat relevant
                    </label><br>
                    <label class="radio">
                      <input type="radio" name="relevance" id="relevance0" value="0" {% if judgement.relevance == 0 %} checked {% endif %}>
                      Not relevant
                    </label>
                </div>
                 <div class="control-group">
                    <label>Comment:</label>
                    <div class="controls">
                      <textarea rows="10" class="span3", id="comment" name="comment">{% if judgement.comment %}{{ judgement.comment }}{% else %}{% endif %}</textarea>
                      <button type="button" class="btn btn-link" id="capture" onclick="captureSelection()">Insert Selected Text</button>
                    </div>
                  </div>
                

                <div class="form-actions">

                    <button id="btn-save" type="submit" class="btn btn-primary" size="20">Save</button> {% if next %} <button id="btn-next" type="submit" name="next" class="btn btn-primary" size="20">Save & Next</button> {% endif %}
                    
                </div>

            </form>



  </div>
  
        
    </div>


{% endblock %}
