{% extends "judgementapp/base.html" %}

{% block content %}

    <div class="well">
        <h1>Relevation!</h1>
        <p>Relevation is a system for creating relevance judgement for Information Retrieval evaluations.</p>
        <p><a class="btn btn-primary" href="https://github.com/bevankoopman/">Check it out on GitHub &raquo;</a></p>
    </div>

    <div class="row">
        
        <div class="span6">
            <h2>Setup</h2>

            <p>Setup a new relevance judging project by upload your queries and ranked list of document results.</p>

            <p><a class="btn" href="upload">Start setup &raquo;</a></p>
        </div>
        <div class="span6">
            <h2>Queries</h2>

            <p>Take a look at the current queries in the systems and begin judging.</p>

            <p><a class="btn" href="query">View queries &raquo;</a></p>
        </div>
    </div>


{% endblock %}
