{% extends "judgementapp/base.html" %}

{% block content %}

    <div class="well">
        <h1>Relevation!</h1>
        <p>Relevation is a system for creating relevance judgement for Information Retrieval evaluations.</p>
    </div>

    <div class="row">
        {% if user.is_staff %}
        <div class="span6">
            <h2>Setup</h2>

            <p>Setup a new relevance judging project by upload your queries and ranked list of document results.</p>

            <p><a class="btn" href="{% url 'judgementapp.views.index' %}upload">Start setup &raquo;</a></p>
        </div>
        {% endif %}
        <div class="span6">
            <h2>Queries</h2>

            <p>Take a look at the current queries in the systems and begin judging.</p>

            <p><a class="btn" href="{% url 'judgementapp.views.query_list' %}">View queries &raquo;</a></p>
        </div>
    </div>


{% endblock %}
