{% extends "judgementapp/base.html" %}

{% block content %}

	<div class="well">
        <h2>Queries</h2>
	    <p></p>
    </div>

  <div class="row">

        <div class="span12">
          <table class="table table-striped">
              <thead>
                <tr>
                  <th>QueryId</th>
                  <th>Text</th>
                  <th>Number of documents</th>
                  <th>Number unjudged</th>
                </tr>
              </thead>
              <tbody>

                {% for query in claimed_queries %}
                  
                <tr>
                    <td>{{ query.qId }} </td>
                    <td><a href="{% url 'judgementapp.views.query' qId=query.qId%}">{{ query.text }}</a></td>
                    <td>{{ query.num_judgements }}</td>
                    <td {% if query.num_unjudged_docs > 0 %} style="color: red" {% endif %}>{{ query.num_unjudged_docs }}</td>
                  </tr>
                {% endfor %}
                
        
              </tbody>
            </table>

        </div>
        
    </div>  

	<div class="row">

        <div class="span12">
        	<table class="table table-striped">
              <thead>
                <tr>
                  <th>QueryId</th>
                  <th>Text</th>
                  <th>Number of documents</th>
                  <th>Claim a query</th>
                </tr>
              </thead>
              <tbody>

                {% for query in queries %}
                  
                <tr>
                    <td>{{ query.qId }} </td>
                    <td>{{ query.text }}</td>
                    <td>{{ query.num_judgements }}</td>
                    <td><a href="{% url 'judgementapp.views.claim' qId=query.qId %}">claim</a></td>
                  </tr>
                {% endfor %}
                
        
              </tbody>
            </table>

            {% if user.is_staff and queries %}
              <a href="{% url 'judgementapp.views.qrels' %}" class="btn"><i class="icon-download"></i> Download Relevance Assessments (qrels)</a>
            {% endif %}
        </div>
        
    </div>


{% endblock %}
